@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	height: min(100dvh 100vh);
}

/* Hide scrollbar css class */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* Disable default search style */
.disable-default-search-style::-webkit-search-decoration,
.disable-default-search-style::-webkit-search-cancel-button,
.disable-default-search-style::-webkit-search-results-button,
.disable-default-search-style::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

/*A utility class to change text color and stroke color to the primary colors*/
.primary-color-on-hover {
	transition: color 0.1s, stroke 0.1s;
}
.primary-color-on-hover:hover {
	@apply text-l-prim dark:text-d-prim stroke-l-prim dark:stroke-d-prim;
}